body {
  margin: 0;
  font-family: 'Gill Sans', sans-serif;
  background-color: #acacac;
}

.href_decoration {
  text-decoration: none;
}

/* ------------------------- START NAVBAR --------------------------- */
.navbar_ul {
  margin-top: 0;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0 0 0);
  height: 50px;
  opacity: 95%;
}

.navbar_li {
  float: right;
}

.navbar_li .navbar_a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
}

.navbar_li .navbar_a:hover {
  background-color: #2f2f2f;
  border-radius: 7px;
}

.logo_basket {
  margin-top: 5px;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  float: left;
}

.topnav .search-container {
  float: right;
}

.topnav input[type='text'] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a,
  .topnav input[type='text'],
  .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type='text'] {
    border: 1px solid #ccc;
  }
}

.marque {
  float: left;
  font-size: 28px;
  padding: 9px;
  padding-left: 20px;
  margin: 0;
  color: #c87d1b;
}
/* ------------------------- END NAVBAR --------------------------- */

/* ------------------------- START JOUEURS --------------------------- */

.row {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  max-width: 100%;
  flex-grow: 1;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 20px;
}

#all-cards {
  overflow: hidden;
}

.card {
  width: 250px;
  text-align: center;
  height: 250px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 50%;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  transform: perspective(1000px) rotateY(0deg);
  transition: transform 0.3s;
}

.card:hover {
  transform: perspective(1000px) rotateY(30deg);
}

.card-header {
  font-size: 30px;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}

.card-players-teams-games {
  font-size: 30px;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
}

.card-title {
  font-size: 50px;
  margin-bottom: 0.75rem;
  margin-top: 0;
  text-align: center;
}

.card-members {
  font-size: 16px;
}

.background {
  background-color: rgb(0 0 0);
  opacity: 95%;
}

h5 {
  font-weight: 500;
  line-height: 1.2;
}

.hauteur-100 {
  height: 100%;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

.card-text {
  margin-top: 0;
  margin-bottom: 1rem;
}

.card_details {
  width: 800px;
  text-align: center;
  height: 900px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  transform: perspective(1000px) rotateY(0deg);
  transition: transform 0.3s;
}

.card_details:hover {
  transform: perspective(1000px) rotateY(30deg);
}

/* ------------------------- END JOUEURS --------------------------- */

/* ------------------------- START DETAILS JOUEUR --------------------------- */

.card-player {
  background-color: rgb(0 0 0);
  width: 450px;
  padding: 10px;
  margin-right: 5%;
  margin-top: 12%;
  border-radius: 5%;
  color: white;
  margin-bottom: 45px;
}

.card-team-player {
  width: 250px;
  height: 250px;
  font-size: 30px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 50%;
  background-color: rgb(0 0 0);
  padding: 10px;
  margin-bottom: 0;
  margin-top: 15%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: perspective(1000px) rotateY(0deg);
  transition: transform 0.3s;
}

.card-team-player:hover {
  transform: perspective(1000px) rotateY(30deg);
}

p {
  margin: 0;
  line-height: 1.5;
  font-size: 30px;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

/* ------------------------- END DETAILS JOUEUR --------------------------- */

/* ------------------------- START DETAILS TEAM --------------------------- */

.card-team {
  background-color: rgb(0 0 0);
  width: 450px;
  padding: 10px;
  border-radius: 5%;
  color: white;
}

.col-player {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 20px;
}

.row-player {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
}

/* ------------------------- END DETAILS TEAM --------------------------- */

/* ------------------------- START GAMES --------------------------- */

#game {
  margin: 15px;
}

#date {
  font-size: 15px;
}

/* ------------------------- END GAMES --------------------------- */

/* ------------------------- START LOGIN / REGISTER --------------------------- */

.login-form {
  width: 403px;
  margin: 100px auto;
}

.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
  border-radius: 10px;
}
.login-form h2 {
  margin: 0 0 15px;
  font-size: 40px;
}
.form-control,
.btn {
  min-height: 38px;
  border-radius: 2px;
}
.btn {
  font-size: 20px;
  font-weight: bold;
}
.btn-block {
  width: 50%;
}
.form-group {
  display: flex;
  justify-content: center;
}
.btn-primary {
  background-color: rgb(0 0 0);
  border-color: #a9b6c1;
  border-radius: 5px;
}
.btn-primary:hover {
  background-color: #616161;
  border-radius: 5px;
}

#error-msg {
  margin: 0;
  line-height: 1.5;
  font-size: 25px;
  text-align: center;
  color: red;
}

/* ------------------------- END LOGIN / REGISTER --------------------------- */
