<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Player : {{ player.last_name }}</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    <section id="all-cards">
      <div class="card-container">
        <div class="card-player container">
          <h5 class="card-title">Player</h5>
          <p>
            First name : {{ player.first_name }} <br />
            Last name : {{ player.last_name}} <br />
            Position : {{ player.position }} <br />
            Feet : {{ player.feet }} <br />
            Inches : {{ player.inches }} <br />
            Pounds : {{ player.pounds}} <br />
            Team : {{ player.team.abbrev }}
          </p>
        </div>
        {% if player.team.id %}
        <a
          class="card-team-player href_decoration"
          href="{{ url_for( 'team', id=player.team.id)}}"
        >
          <p>{{ player.team.abbrev.upper() }}</p>
        </a>
        {% endif %}
      </div>
    </section>
  </body>
</html>
