<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Team : {{ team.abbrev }}</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    <section id="all-cards">
      <div class="card-container">
        <div class="card-team">
          <h5 class="card-title">Team</h5>
          <p>
            Abbreviation : {{ team.abbrev }} <br />
            City : {{ team.city}} <br />
            Conference : {{ team.conf }} <br />
            Division : {{ team.div }} <br />
            Full name : {{ team.full_name }}
          </p>
        </div>
      </div>
      <div class="row-player">
        {% for player in players %} {% if player.team.id == team.id %}
        <div class="col-player">
          <a
            href="{{ url_for('player', id=player.id) }}"
            class="href_decoration"
          >
            <div class="card background">
              <div class="card-players-teams-games">
                {{ player.last_name.upper() }}
                <br />
                {{ player.first_name }}
              </div>
            </div>
          </a>
        </div>
        {% endif %} {% endfor %}
      </div>
    </section>
  </body>
</html>
