<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>
      Match : {{ match.home_team.abbrev }} | {{ match.visitor_team.abbrev }}
    </title>
  </head>
  <body>
    {% include 'navbar.html' %}
    <section id="all-cards">
      <div class="card-container">
        <div class="card-team">
          <h5 class="card-title">Team</h5>
          <p id="game-board">
            Date : {{ date_formated }} <br />
            Home Team Score : {{ match.home_team_score }} <br />
            Visitor Team Score : {{ match.visitor_team_score }} <br />
            Season : {{ match.season }} <br />
            Period : {{ match.period }} <br />
            Status : {{ match.status }} <br />
            Time : {{ match.time }}
          </p>
        </div>
      </div>
      <div class="row-player">
        {% for team in teams %} {% if team.id == match.home_team.id or team.id ==
          match.visitor_team.id %}
        <div class="col-player">
          <a href="{{ url_for('team', id=team.id) }}" class="href_decoration">
            <div class="card background">
              <div class="card-players-teams-games">
                {{ team.abbreviation.upper() }}
              </div>
            </div>
          </a>
        </div>
        {% endif %} {% endfor %}
      </div>
    </section>
  </body>
</html>
