<html lang="en">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div
      class="flash-message {% if category == 'error' %}error{% elif category == 'success' %}success{% endif %}" style="color: red; text-align: center; font-size: 25px;"
    >
      {{ message }}
    </div>
    {% endfor %} {% endif %} {% endwith %} {% block content %}{% endblock %}
  </body>
</html>
