<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Matches</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    <section id="all-cards">
      <div class="row">
        {% for match in matches %}
        <div class="col">
          <a href="{{ url_for( 'match', id=match.id)}}" class="href_decoration">
            <div class="card background">
              <div class="card-players-teams-games">
                <p id="game">
                  {{ match.home_team.abbreviation }} | {{
                    match.visitor_team.abbreviation }}
                </p>
                <p id="date">{{match.date_formated}}</p>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </section>
  </body>
</html>
