<link rel="stylesheet" href="../../static/style.css" />
<div class="navbar">
  <ul class="topnav navbar_ul">
    <a class="navbar_a" href="/">
      <img src="../../static/img/ball.png" class="logo_basket" />
      <h3 class="marque">BasketWorld</h3>
    </a>
    <ul class="navbar_ul">
      <li class="navbar_li">
        <a class="navbar_a" style="color: red" href="/logout"
          >{% if 'username' in session %}{{ session['username'].upper() }}{%
          endif %} - Logout</a
        >
      </li>
      <li class="navbar_li"><a class="navbar_a" href="/matches">MATCHES</a></li>
      <li class="navbar_li"><a class="navbar_a" href="/teams">TEAMS</a></li>
      <li class="navbar_li"><a class="navbar_a" href="/">PLAYERS</a></li>
    </ul>
  </ul>
</div>
