<link rel="stylesheet" href="../../static/style.css" />
<div class="navbar">
  <ul class="topnav navbar_ul">
    <a class="navbar_a" href="/">
      <img src="../../static/img/ball.png" class="logo_basket" />
      <h3 class="marque">BasketWorld</h3>
    </a>
    <ul class="navbar_ul">
      <li class="navbar_li"><a class="navbar_a" href="/login">LOGIN</a></li>
      <li class="navbar_li">
        <a class="navbar_a" href="/register">REGISTER</a>
      </li>
    </ul>
  </ul>
</div>
