<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Players</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    <section id="all-cards">
      <div class="row">
        {% for player in players %}
        <div class="col">
          <a
            href="{{ url_for( 'player', id=player.id)}}"
            class="href_decoration"
          >
            <div class="card background">
              <div class="card-players-teams-games">
                {{ player.last_name.upper() }}
                <br />
                {{ player.first_name }}
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </section>
  </body>
</html>
