<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Register</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link href="../../static/style.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style type="text/css"></style>
  </head>
  <body>
    {% include 'navbar_limited.html'%} {% block content %} {% if error %}
    <p id="error-msg">{{ error }}</p>
    {% endif %}
    <div class="login-form">
      <form action="" method="post">
        <h2 class="text-center">Register</h2>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="username"
            required="required"
            name="username"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            placeholder="password"
            required="required"
            name="password"
          />
          <input
            type="password"
            class="form-control"
            placeholder="confirm password"
            required="required"
            name="conf_password"
          />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">
            Register
          </button>
        </div>
      </form>
    </div>
    {% endblock %}
  </body>
</html>
