<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Teams</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    <section id="all-cards">
      <div class="row">
        {% for team in teams %}
        <div class="col">
          <a href="{{ url_for( 'team', id=team.id)}}" class="href_decoration">
          <div class="card background">
            <div class="card-players-teams-games">
              {{ team.name.upper() }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
  </body>
</html>